@import "tw-animate-css";
@import "shadcn/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
  }

  :root {
    --background: #3f3f7a;
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  * {
    @apply outline-1;
  }



  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .card {
    width: 100%;
    max-width: 350px;
    height: 515px;
    margin: 0;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .front {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background:
      url(/assets/lanyard/Logo.png),
      linear-gradient(to top, rgba(233, 188, 11, 0.8) 0%, transparent 60%),
      url(/assets/lanyard/foto.png),
      #ffffff;
    background-size: 60px, cover, cover;
    background-position: 20px 20px, center, center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
  }

  .front h2 {
    font-weight: 1000;
    color: #eaebea;
  }

  .front p {
    color: #ccc;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  h2.gugus {
    width: fit-content;
    background: #55558f;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 25px;
    font-size: 13px;
    font-weight: 900;
    color: #ecfbe8;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
  }



}